<div class="container-fluid bg-light">
  <div class="container bg-light">
    <div class="row mt-4" style="height: 500px">
      <div class="col"></div>
      <div class="col-md-6 bg-white shadow">
        <div class="card bg-warning mt-4">
          <h1 class="text-white p-4">Todo List</h1>
        </div>
        <div class="shadow">
          <div class="input-group input-group-lg p-4">
            <input
              class="form-control"
              type="file"
              placeholder="Enter a task"
              aria-label="task"
              aria-discribedby="button-addon2"
              name="task"
              [(ngModel)]="addTaskValue"
            /><button
              type="button"
              (click)="addTask()"
              id="button-addon2"
              class="btn btn-outline-success"
            >
              ADD
            </button>
          </div>
        </div>
        <h2 class="text-primary mt-4">Tasks:</h2>

        <div style="overflow-y: auto; height: 350px">
          <div class="m-3" *ngFor="let task of taskArr">
            <div class="p-2 shadow border" id="tasks">
              <div class="input-group row ps-3">
                <div class="card col-md-9 border-0">{{ task.file_name }}</div>
                <button
                  class="btn btn-outline-primary col me-2"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop"
                  type="button"
                  (click)="call(task)"
                >
                  edit
                </button>
                <div
                  class="btn btn-outline-danger col"
                  (click)="deleteTask(task)"
                >
                  X
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div
          class="modal fade"
          id="staticBackdrop"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="staticBackdropLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                  Edit the todo
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="input-group p-4">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter task "
                    name="task"
                    [(ngModel)]="editTaskValue"
                  />
                  <button
                    class="btn btn-outline-success"
                    type="button"
                    data-bs-dismiss="modal"
                    (click)="editTask()"
                  >
                    Update
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
